:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: calc(16px + 0.390625vw);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.button {
  &-select {
    &--active {
      border: 1px solid $c-primary;
    }
  }

  &--danger {
    color: $c-danger;
    border-color: $c-danger;
  }
}

.card {
  padding: 1.5rem;
  background-color: #636363;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 50px;

  @media (min-width: 768px) {
    padding: 3em;
  }
}

#app {
  overflow: hidden;
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  @media (min-width: 768px) {
    padding: 3em;
  }
}

.button-group {
  display: grid;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;

  &--can-wrap {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));

    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f5f5f5;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .card {
    background-color: #fff;
  }
}
